/* Variables */
:root {
  --dark-blue: #14213d;
  --light-grey: #e5e5e5;
  --yellow: #fca311;
  --white: #FFF;
  --black: #000;
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Poppins', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--body-font);
}

/* Hero */
.hero {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 90vh;
  background-image: url("./img/hero.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.h__heading {
  width: 60%;
}

.h__title {
  margin-right: 20px;
  text-align: end;
  font-family: var(--heading-font);
  font-size: 2em;
  font-weight: 600;
  color: var(--dark-blue);
}

.h__subtitle {
  margin-right: 20px;
  text-align: end;
  font-size: 1em;
  font-weight: 400;
  color: var(--dark-blue);
}

/* Search section */
.search {
  display: flex;
  justify-content: center;
  margin: 1em;
}

#search-label {
  padding: 0 0.5em;
  align-self: center;
}

#search-label i {
  color: var(--yellow);
}

#search-input {
  padding-left: 0.5em;
  font-family: var(--body-font);
  font-size: 0.8em;
  font-weight: 200;
  border: 1px solid var(--yellow);
  border-radius: 10px;
  align-self: center;
}

#search-results {
  font-size: 0.8em;
  padding-left: 0.5em;
  opacity: 0.5;
  align-self: center;
}

/* Cards */
#root {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 1.5rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: var(--light-grey);
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.4);
}

.card__title {
  padding: 0.8em 0;
  color: var(--dark-blue);
  text-align: center;
  font-size: 1em;
}

.card__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  width: 100%;
}

.card__text {
  padding: 1rem;
  color: var(--dark-blue);
  font-size: 0.8em;
}

/* Footer */
.clear {
  clear: both;
  height: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2em;
  text-align: center;
  font-size: 0.8em;
  background-color: var(--light-grey);
  box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 0.1);
}

@media screen and (min-width:600px) {

  /* Hero */
  .h__title {
    font-size: 3.5em;
  }

  .h__subtitle {
    font-size: 1.5em;
  }

  /* Search */
  #search-label {
    font-size: 1em;
  }

  #search-input {
    font-size: 1em;
  }

  #search-results {
    font-size: 1em;
  }
}