/* Variables */
:root {
  --darker-blue: #1d3557;
  --dark-blue: #457b9d;
  --light-blue: #a8dadc;
  --cream: #f1faee;
  --red: #e63946;
  --white: #FFF;
  --black: #000;
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Poppins', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--body-font);
}

.hero {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 500px;
  background-image: url("./img/hero1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.h__title {
  margin: 0 50px;
  text-align: end;
  font-family: var(--heading-font);
  font-size: 3.5em;
  font-weight: 600;
  color: var(--darker-blue);
}

.h__subtitle {
  margin-right: 50px;
  text-align: end;
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: 400;
  color: var(--darker-blue);
}